<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:AntiqueWhite;" >

<nav class="navbar navbar-inverse">
    <img src="/assets/logo.png" height="110px" href = "#" >
    <ul class="nav navbar-nav navbar-right">
      <input style="margin-top: 8%" align="center" type="text" placeholder="Enter Username" name="uname" required>
      <input style="margin-top: 8%" align="center" type="password" placeholder="Enter Password" name="upassword" required>
      <button type="button" class="btn btn-primary" style="margin-right: 20px; margin-top: 10px">Log In</button>
      <br>
      <a href=" " style="text-indent: 210em">Forgot your password?</a>
    </ul>

</nav>


<div class="container">
  <table>
    <tr>
      <td>
  <h1>Sign up</h1>
        <table class= "table table-sm" style="border-color: transparent">
          <tr> <td>Email</td><td><input type="text" name="email"></td></tr>
          <tr> <td> First Name</td><td> <input type="text" name="fname"></td></tr>
          <tr> <td> Last Name </td><td><input type="text" name="lname"></td></tr>
          <tr> <td> Adress </td><td><input type="text" name="adress"></td></tr>
          <tr> <td> Birthday </td><td><input type="date" name="birthday"></td></tr>
          <tr> <td> Phone </td><td><input type="text" name="phone"></td></tr>
          <tr> <td> Gender</td>
                    <form><td>
                      <label class="radio-inline">
                        <input type="radio" name="gender">Male
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="gender">Female
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="gender">Undefined
                      </label></td>
                    </form>
          <tr> <td> Password </td><td><input type="password" name="rpassword">
          <tr> <td> Repeat Password</td><td> <input type="password" name="rpassword">
        </table>
  <button type="button" class="btn btn-primary">Create Account</button>
      </td>
      <td/>
      <td>
    <div align="center" style="text-indent: 10em">
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Don't want to login? Enter as a guest">
      </form>
    </div>
      </td>
    </tr>
  </table>

</div>

</body>
</html>