<h1>Editing User Project</h1>

<%= render 'form', user_project: @user_project %>

<%= link_to 'Show', @user_project  , { :class=>"btn btn-primary" } %>
<%= link_to 'Back', user_projects_path  , { :class=>"btn btn-primary" } %>
