<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:AntiqueWhite;" >



<h1>New Project</h1>
<table class= "table table-sm" style="border-color: transparent">
  <tr> <td width="20%">Title</td><td><input type="text" name="title"></td></tr>
  <tr> <td width="20%"> Deadline</td><td> <input type="date" name="deadline"></td></tr>
  <tr> <td width="20%"> Goal Amount </td><td><input type="text" name="lname"></td></tr>
  <tr> <td width="20%"> Markdown </td><td><textarea class="form-control" rows="5" id="comment" ></textarea></td></tr>
  <tr> <td width="20%"> Description </td><td><textarea class="form-control" rows="5" id="comment"></textarea></td></tr>
  <tr> <td width="20%"> ETD </td><td><input type="date" name="etd"></td></tr>
</table>
<table class="btn-table">
  <tr>
    <td>
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Create Project">
      </form>
    </td>
    <td>
      <form action="/projects">
        <input class="btn btn-primary" type="submit" value="Back">
      </form>
    </td>
  </tr>
</table>
