<h1>
Dear <%= @user.name %>
</h1>
===============================================
<p>
You have successfully donated money to <%= Project.find(@fund.project_id).title %>.

To confirm your purchase, just follow this link:.
<a href="<%= @url %>"> URL </a>

Thanks!
</p>