<h1>
  Hi <%= @user.name %> !!
</h1>
<p>
You have successfully bought a promise from <%= Project.find(@fund.project_id).title %>.

To confirm your purchase, just follow this<a href="<%= @url %>"> link </a> .

Thanks!
</p>